include ../meta.pug
body
    header 
        nav.navbar.navbar-expand-lg.navbar-light.bg-purple
            .container-fluid            
                a.navbar-brand(href="#") Hayakawa_lab Attendance System
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-end#navbarNav
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/inout") Home
                        li.nav-item
                            a.nav-link.active(aria-current="page" href="/members/register") メンバーを登録
                        li.nav-item
                            a.nav-link(href="/inout/records") ログを見る
    form(method="POST" action="/members").container.text-center.py-4
        .d-inline-flex.flex-column.align-items-center
            select.h3#grade.m-3.form-select.form-select-lg(size="1")
                option 4期生
                option 5期生
                option 6期生
                option 7期生
            input.h3#name(type="text" name="context" value="" placeholder="名前" required)
            input.h3#password(type="password" name="password" value="" maxlength="4" placeholder="パスワード" required)
            input.h3(type="password" name="re-password" value="" maxlength="4" placeholder="re" required)
            button.btn.btn-outline-info.w-100(type="submit") 登録