doctype html
html(lang='ja')
    head
        include ../meta/meta.pug
        script(type='text/javascript' src='/records/records.js' defer)
body
    include ../meta/header.pug 
    include ../meta/table.pug