include ../meta/meta.pug
body
    include ../meta/header.pug
    form(method="POST" action="/members").container.text-center.py-4
        .d-inline-flex.flex-column.align-items-center
            select.h3#grade.m-3.form-select.form-select-lg(size="1")
                option 4期生
                option 5期生
                option 6期生
                option 7期生
            input.h3#name(type="text" name="context" value="" placeholder="名前" required)
            input.h3#password(type="password" name="password" value="" maxlength="4" placeholder="パスワード" required)
            input.h3(type="password" name="re-password" value="" maxlength="4" placeholder="re" required)
            button.btn.btn-outline-info.w-100(type="submit") 登録