doctype html
html
    head
        meta(charset = "utf-8")
        title Attendance System
        link(rel='stylesheet' href='assets/style.css' type='text/css')
        link(rel='stylesheet' href='assets/sanitize.css' type='text/css')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
	
    body.bg-light
        header.container
            h1.center Hayakawa-lab Attendance System
	
        .center
            ol
                li 名前を入力
                li 入室または退室を押して送信

        // {context: "名前", state: "入室（or退室）"} というデータがサーバー側に送られる
        .center
            form(method="POST" action="/records")
                input#name(type = "text" name="context" required)
                button#attend.btn.btn-outline-info(type="submit" name="state" value="入室") 入室
                button#leave.btn.btn-outline-success(type="submit" name="state" value="退室") 退室
                
        .center
            table.table.table-striped
                thead
                    tr
                        - var elements = ['氏名', '日付', '状態']
                        each item in elements
                            th #{item}

                tbody
                    each person in list
                        tr
                            th #{person.name}
                            th #{person.time}
                            th #{person.state}
                            